{% extends 'subsubbase.html.twig' %}

{% block title %}Nieuwsbericht{% endblock %}

{% block body %}
<section class="nieuwsOverzicht">
<div class="container text-center" >
    <div class="title">
        <div class="row justify-center-md-center">
            <div class="col-md-12 col-lg-12 col-sm-6 ">
                <h1></h1></div></div></div></div></section>
<div class="container " >
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Reaction</th>
                <td>{{ post.reaction }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td><div class="beheer">{{ post.image }}</div></td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ post.created ? post.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ post.updated ? post.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="nieuwsberichten">
         <a href="{{ path('post_edit', {'id': post.id}) }}"><button style="margin-left:0px">Wijzigen</button></a>
        <a href="{{ path('beheerNieuws') }}">
            <button style="margin-left:0px">Naar Overzicht</button></a>
    </div>
    {{ include('admin/post/_delete_form.html.twig') }}

</div>
{% endblock %}
