{% extends 'subsubbase.html.twig' %}

{% block title %}Nieuwsbericht{% endblock %}


{% block body %}
<section class="nieuwsOverzicht">
<div class="container text-center" >
    <div class="title">
        <div class="row justify-center-md-center">
            <div class="col-md-12 col-lg-12 col-sm-6 ">
                <h1></h1></div></div></div></div></section>
<div class="container " >


            <div class="row justify-center-md-center">

                    <!--    start  nieuwsbericht -->

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="container">
                            <div class="card">
                                <div class="cardimg">
                                    <img class="card-img-top" src="/public/{{  vich_uploader_asset(nieuwsbericht, 'imageFile') }}" alt="{{ nieuwsbericht.title }}" /></div>
                                <div class="card-body">
                                    <h5>{{ nieuwsbericht.title }}</h5>
                                    <p>{{ nieuwsbericht.created|date('d-m-`y') }}</p>
                                    <p >{{nieuwsbericht.content|raw}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--    einde  nieuwsberichten -->

            </div>

        </section>



</div>
{% endblock %}
